

<div class="card" style="width: 50rem;">
  <ul class="list-group list-group-flush ">
  <h1> {{ Stock.companyName}} ({{Stock.symbol}}) </h1>
    <li class="list-group-item"><strong>Latest Price: </strong>${{Stock.latestPrice}}</li>

    <li class="list-group-item"><strong>Previous Close:</strong>${{Stock.previousClose}}</li>

    <li class="list-group-item"><strong>Percent Change:</strong>{{Stock.changePercent}}%</li>

    <li class="list-group-item"><strong>Market Cap:</strong>${{Stock.marketCap}}</li>

    <li class="list-group-item"><strong>YTD Change:</strong>{{Stock.ytdChange}}%</li>

    <li class="list-group-item"><strong>52wk High:</strong>${{Stock.week52High}}</li>

    <li class="list-group-item"><strong>52wk Week Low:</strong>${{Stock.week52Low}}</li>

  </ul>
</div>



<!--
{{#each Stock}}
	{{@key}} | {{this}}<br/>
	{{/each}}
	-->